<li class="list-group-item">
  <div class="row">
    <div class="col-md-10">
      <a (click)='hotelSelected()'>
        <div class="row">
          <div class="col-md-5">
            <img class="img-fluid" [src]='hotelItem.imgUrl' alt="">
          </div>
          <div class="col-md-7">
            <h3>{{hotelItem.title}}</h3>
            <p>{{hotelItem.adress1}}</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2">
      <button mat-button (click)='onClick()'> Book Now </button>
    </div>
  </div>
</li>
